[phases.setup]
aptPkgs = ["libgl1", "libglib2.0-0", "libsm6", "libxrender1", "libxext6", "libgomp1"]
nixPkgs = ["python311"]

[phases.install]

[start]
cmd = "export LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH && streamlit run streamlit_app.py --server.port=$PORT --server.address=0.0.0.0"
