[phases.setup]
aptPkgs = ["libgl1-mesa-glx", "libglib2.0-0", "libsm6", "libxrender1", "libxext6", "libgomp1"]
nixPkgs = ["python311"]

[phases.install]

[start]
cmd = "streamlit run streamlit_app.py --server.port=$PORT --server.address=0.0.0.0"
